@media (max-width: 1200px) { 
    .miniaturas  {
        width: 257px;
        height: 145px;
    }

    .card {
        height: 325px;
    } 
 }

 @media (min-width: 1201px) { 
    .miniaturas  {
        width: 257px;
        height: 185px;
    }

    .card {
        height: 325px;
    }
 }